nav{
    background: #228B22;
}

body{
    background-image: url("background.jpg");
}

.container{
    margin-top: 20px;
    background: #228B22;
}

img{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.container a{
    color: white;
}

.col ul{
    padding-left: 20px;
}

.col ul li{
    list-style: disc;
}

.datatable .odd{
    background-color: aliceblue;
}

.datatable .even{
    background-color: burlywood;
}


.datatable tr.theader th {
        text-align: left;
}

.container h6 {
    font-family: cursive;
    text-decoration: underline;
}

@keyframes pulse {
    0% {
        background-color: inherit;
    }
    
    33% {
        background-color: orange;
    }
    
    100% {
        background-color: inherit;
    }
}

.animated {
    animation-name: pulse;
    animation-duration: 3s;
}