@keyframes pulse {
    0% {
        background-color: inherit;
    }
    
    33% {
        background-color: orange;
    }
    
    100% {
        background-color: inherit;
    }
}

.animated {
    animation-name: pulse;
    animation-duration: 3s;
}
